<template>
    <div>
        <h3>Компонент со слотом</h3>
        <slot name="text1" data=""/>
        <slot name="text2"/>
    </div>
</template>

<script src="./test.js"></script>

<style scoped>

</style>
