<template>
    <div class="home">
        <test>
            <template #text1="{data}">
                <div>То что я передал внутрь компонента1 {{data}}</div>
            </template>
            <template #text2>
                <div>То что я передал внутрь компонента2</div>
            </template>
        </test>

        <ValidationObserver v-slot="{ handleSubmit }">
            <form @submit.prevent="handleSubmit(onSubmit)">
                <table>
                    <tr>
                        <validation-provider
                            name="testEmail"
                            :rules="{email: true, required: true}"
                            v-slot="data"
                        >
                            <input v-model="value" type="text">
                            <div>{{data}}</div>
                        </validation-provider>
                    </tr>

                    <tr>
                        <validation-provider rules="odd" v-slot="{failedRules, invalid, pristine}">
                            <input v-model="value" type="text">
                            <div>{{failedRules}} {{invalid}} {{pristine}}</div>
                        </validation-provider>
                    </tr>

                    <tr>
                        <validation-provider rules="odd|positive" v-slot="{failedRules, invalid, pristine}">
                            <input v-model="value" type="text">
                            <div>{{failedRules}} {{invalid}} {{pristine}}</div>
                        </validation-provider>
                    </tr>

                    <tr>
                        <validation-provider rules="min:3" v-slot="{failedRules, invalid, pristine}">
                            <input v-model="value" type="text">
                            <div>{{failedRules}} {{invalid}} {{pristine}}</div>
                        </validation-provider>
                    </tr>

                    <tr>
                        <validation-provider rules="minmax:3,5" v-slot="{failedRules, invalid, pristine}">
                            <input v-model="value" type="text">
                            <div>{{failedRules}} {{invalid}} {{pristine}}</div>
                        </validation-provider>
                    </tr>

                    <tr>
                        <validation-provider
                            rules="one_of:1,2,3,4,5,6,7,8,9"
                            v-slot="{failedRules, invalid, pristine}"
                        >
                            <input v-model="value" type="text">
                            <div>{{failedRules}} {{invalid}} {{pristine}}</div>
                        </validation-provider>
                    </tr>

                    <tr>
                        <validation-provider
                            rules="negative"
                            name="temperature"
                            v-slot="{failedRules, invalid, errors}"
                        >
                            <input v-model="value" type="text">
                            <span>{{ errors[0] }}</span>
                        </validation-provider>
                    </tr>

                    <tr>
                        <validation-provider
                            name="min_max"
                            rules="minmax:3,5"
                            v-slot="{errors}">
                            <input v-model="value" type="text">
                            {{ errors[0] }}
                        </validation-provider>
                    </tr>

                    <tr>
                        <validation-provider
                            rules="min:3|negative|required"
                            name="pole"
                            :bails="false"
                            v-slot="{errors}">
                            <input v-model="value" type="text">
                            <ul>
                                <li v-for="(error, index) in errors" :key="index">{{ error }}</li>
                            </ul>
                        </validation-provider>
                    </tr>
                </table>
                <button class="submit">Клац</button>
            </form>
        </ValidationObserver>
    </div>
</template>

<style lang="scss" scoped src="./Validator.scss"></style>
<script src="./Validator.js"></script>
