<template>
    <div>
        <h1>Реактивные свойства</h1>
        <section>
            <header>Колличество персон - {{countPersons}}</header>
            <div v-for="person in persons" :key="person.id">
                {{person}}
            </div>
        </section>
        <section>
            <header>Искомый персонаж</header>
            <input v-model="search" type="text">
            <template v-if="findPersons.length > 0">
                <div v-for="person in findPersons" :key="person.id">
                    {{person}}
                </div>
            </template>
            <template v-else>
                <div>Пока никого не нашел</div>
            </template>
        </section>

        <section>
            <header>Случайный персонаж</header>
            <div>
                {{randomPerson}}
            </div>
        </section>
        <button @click="getAllPeople">Обнови персонажей</button>
        <button @click="updatePersonCount">Обнови кол-во</button>
    </div>
</template>

<script src="./Reactive.js"></script>

<style scoped></style>
